<section class="container intro">
  <div class="intro-body">
    <video autoplay loop id="BG">
      <source src="video/10149872.webm" type="video/webm"/>
      <source src="video/10149872.mp4" type="video/mp4"/>
    </video>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-2 col-xs-offset-2">
        <h1 class="brand-heading">Transaldis</h1>
        <p class="intro-text">Qui sommes nous ?</p>
        <a du-smooth-scroll="content" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="content" class="content">
  <section class="row introtext content-section text-center ">
    <div class="introtext-text">
      <div class="col-lg-6 col-lg-offset-1 col-md-8">
        <h2>Présentation</h2>
        <p>
          TRANSALDIS, c'est plus de 22 ans à votre service. Une PME créée en 1993 située dans l’est parisien à MITRY MORY, à proximité de ROISSY CDG et accessible par les grands axes routiers. L’Entreprise, par ses différents métiers développés au sein même de
          son site, est capable de répondre à tous les besoins en transport et logistique de sa Clientèle sur l’ensemble du territoire national. Transporteur et Organisateur de transport, nous offrons un rôle de conseil à la mise en place de prestation dédiée.
        </p>
      </div>
      <div class="col-lg-4">
        <blockquote>
          <p>
            <i>
              Il n'y a pas de limite à ce que nous pouvons faire ensemble, chacun de nous transporte en soi le centre de l'univers.</i><br>Nancy HUSTON</p>
        </blockquote>
      </div>
    </div>
  </section>
  <section class="text-center boxactuinfo row bggray">
    <div class="container">
      <div class="col-lg-6 wow actuindex">
        <div class="media" ng-repeat="actu in actus | limitTo:numberActu">
          <div class="media-left">
            <a href="#">
              <img class="media-object" ng-src="admin/images/thumb64/{{actu.actu_imgsrc}}" alt="imagestest">
            </a>
          </div>
          <div class="media-body">
            {{actu.actu_contenu}}
            <a href="#">En savoir plus</a>
          </div>
          <hr ng-hide="$last">
        </div>
      </div>
      <div class="col-lg-6 wow boxcontact">
        <ul>
          <li class="pad5">
            <i class="fa fa-phone bgico" aria-hidden="true"></i>&nbsp;<span>01.60.21.48.30</span>
          </li>
          <li class="pad5">
            <i class="fa fa-envelope bgico" aria-hidden="true"></i>&nbsp;<span>contact@transaldis.fr</span>
          </li>
          <li class="pad5">
            <i class="fa fa-map-marker bgico" aria-hidden="true"></i>&nbsp;<span>Rue Charles de Coulomb, 77290 Mitry-Mory</span>
          </li>
        </ul>
        <div id="map">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
            <ui-gmap-marker coords="map.markerHome.coords" options="map.markerHome.options" idkey="map.markerHome.id"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </section>
</section>
