<section class="container section-contact">
  <div class="col-lg-6">
    <div id="map"></div>
  </div>
  <div class="col-lg-6 infocontact">
    <ul>
      <li class="pad5">
        <i class="fa fa-phone bgico" aria-hidden="true"></i>&nbsp;<span>01.60.21.48.30</span>
      </li>
      <li class="pad5">
        <i class="fa fa-envelope bgico" aria-hidden="true"></i>&nbsp;<span>contact@transaldis.fr</span>
      </li>
      <li class="pad5">
        <i class="fa fa-map-marker bgico" aria-hidden="true"></i>&nbsp;<span>Rue Charles de Coulomb, 77290 Mitry-Mory</span>
      </li>
    </ul>
  </div>
</section>
<section class="row btn-contact text-center">
  <h4>Contact</h4>
  <a du-smooth-scroll="form" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
</section>
<section class="contact-form">
  <form class="form-horizontal">
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Service">Service</label>
      <div class="col-md-4">
        <select id="Service" name="Service" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="objet">Object</label>
      <div class="col-md-4">
        <input id="objet" name="objet" type="text" placeholder="" class="form-control input-md" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="message">Message</label>
      <div class="col-md-4">
        <textarea class="form-control" id="message" name="message"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input id="email" name="email" class="form-control" placeholder="dupont.jean@example.fr" type="text" required="">
        </div>
      </div>
    </div>
  </form>
</section>
