<section id="form" class="row btn-devis text-center section-devis">
  <h4>Demande de devis</h4>
  <a du-smooth-scroll="form" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
</section>
</section>
<section class="row section-form-devis">
<form class="form-horizontal">
  <fieldset>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Services</label>
      <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
          <option value="1">S1</option>
          <option value="2">S2</option>
          <option value="3">S3</option>
        </select>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Description</label>
      <div class="col-md-4">
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="prependedtext">Lieux</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
          <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
        </div>
      </div>
    </div>
    <!-- Prepended text-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="prependedtext">Nombre</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-th"></i>
          </span>
          <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="number">
        </div>
      </div>
    </div>
    <!-- Prepended text-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="prependedtext">Poids</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">kg</span>
          <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
        </div>
      </div>
    </div>
    <!-- Prepended text-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="prependedtext">E-mail</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
        </div>
      </div>
    </div>
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-4 text-center">
        <button id="button1id" name="button1id" class="btn btn-success">Envoyer</button>
      </div>
    </div>
  </fieldset>
</form>
</section>
