<section class="row emplois">
  <div class="page-header text-center">
    <h1>Aucune offres d'emploi <br>
      <small>disponible pour le moment</small>
    </h1>
  </div>
</section>
<section id="form" class="row btn-candidature text-center">
  <h4>Candidature spontané</h4>
  <a du-smooth-scroll="form" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
</section>
<section  class="row section-form-candidature">
  <div class="col-lg-6 col-lg-offset-3">
    <form class="form-devis">
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="submit" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
    </form>
  </div>
</section>
