<section class="nosservices fullh text-center">
  <section class="row">
    <h2>NOS SOLUTIONS</h2>
    <div class="col-lg-10 col-lg-offset-1" role="tablist">
      <div role="presentation" class="col-lg-4 active">
        <div class="thumbnail hvr-float-shadow">
          <a data-target="#home" aria-controls="home" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
      <div role="presentation" class="col-lg-4">
        <div class="thumbnail hvr-float-shadow">
          <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
      <div role="presentation" class="col-lg-4">
        <div class="thumbnail hvr-float-shadow">
          <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section id="tabscontent" class="row nosservicestabcontent content-section text-center">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="form" class="row btn-devis text-center">
    <h4>Demande de devis</h4>
    <a du-smooth-scroll="form" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </section>
</section>
<section class="row section-form-devis">
  <form class="form-horizontal">
    <fieldset>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Services</label>
        <div class="col-md-4">
          <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">S1</option>
            <option value="2">S2</option>
            <option value="3">S3</option>
          </select>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Description</label>
        <div class="col-md-4">
          <textarea class="form-control" id="textarea" name="textarea"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">Lieux</label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
          </div>
        </div>
      </div>
      <!-- Prepended text-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">Nombre</label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-th"></i>
            </span>
            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="number">
          </div>
        </div>
      </div>
      <!-- Prepended text-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">Poids</label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">kg</span>
            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
          </div>
        </div>
      </div>
      <!-- Prepended text-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="prependedtext">E-mail</label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
          </div>
        </div>
      </div>
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-4 text-center">
          <button id="button1id" name="button1id" class="btn btn-success">Envoyer</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
