<section class="nosservices fullh text-center">
  <section class="row">
    <h2>NOS SERVICES</h2>
    <div class="col-lg-10 col-lg-offset-1" role="tablist">
      <div role="presentation" class="col-lg-4 active">
        <div class="thumbnail hvr-float-shadow">
          <a data-target="#home" aria-controls="home" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
      <div role="presentation" class="col-lg-4">
        <div  class="thumbnail hvr-float-shadow">
          <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
      <div role="presentation" class="col-lg-4">
        <div class="thumbnail hvr-float-shadow">
          <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="images/services.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section id="tabscontent" class="row nosservicestabcontent content-section text-center">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales tortor ut ipsum placerat fermentum. Morbi viverra dui urna, sit amet faucibus urna tempor eget. Nullam pretium congue libero et semper. Sed sodales ultrices sem vel consectetur. In pharetra eleifend luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="form" class="row btn-devis text-center">
    <h4>Demande de devis</h4>
    <a du-smooth-scroll="form" du-smooth-scroll duration="500" class="btn btn-circle hvr-bounce-in">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </section>
</section>
<section  class="row section-form-devis">
  <div class="col-lg-6 col-lg-offset-3">
    <form class="form-devis">
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="submit" class="form-control" id="inputEmai" placeholder="Email">
        </div>
      </div>
    </form>
  </div>
</section>
